<div class="main-body">
  <mat-card class='main-mat'>
  <mat-card-header>
      <div mat-card-avatar></div>
  </mat-card-header>
<meta name="viewport" content="width=device-width, initial-scale=1">      
<mat-card class="card-1">
    <div *ngFor="let details of details1" class="info">
      <div class="ribbon"><div class="ribbon-text"><p>{{details.sdate}} - {{details.edate}}</p></div></div>
      <pre>Name : {{details.name}}          Interest : {{details.interest}}</pre>
      <pre>Start Date : {{details.sdate}}   End Date : {{details.edate}}</pre>
      <pre>Start Time : {{details.stime}}     End Time : {{details.etime}}</pre>
      <pre>Email : {{details.email}}</pre>
    <button mat-raised-button color="primary" style="float: right;">Connect</button>
    </div>
</mat-card> 
<br>
<mat-card class="card-1">
  <div *ngFor="let details of details1" class="info">
    <div class="ribbon"><div class="ribbon-text"><p>{{details.sdate}} - {{details.edate}}</p></div></div>
      <pre>Name : {{details.name}}          Interest : {{details.interest}}</pre>
    <pre>Start Date : {{details.sdate}}   End Date : {{details.edate}}</pre>
    <pre>Start Time : {{details.stime}}     End Time : {{details.etime}}</pre>
    <pre>Email : {{details.email}}</pre>
    <button mat-raised-button color="primary" style="float: right;">Connect</button>

  </div>
</mat-card> 
<br>
<mat-card class="card-1">
  <div *ngFor="let details of details1" class="info">
    <div class="ribbon"><div class="ribbon-text"><p>{{details.sdate}} - {{details.edate}}</p></div></div>
    <pre>Name : {{details.name}}          Interest : {{details.interest}}</pre>
    <pre>Start Date : {{details.sdate}}   End Date : {{details.edate}}</pre>
    <pre>Start Time : {{details.stime}}     End Time : {{details.etime}}</pre>
    <pre>Email : {{details.email}}</pre>
    <button mat-raised-button color="primary" style="float: right;">Connect</button>

  </div>
</mat-card> 
<br> 
<mat-card class="card-1">
  <div *ngFor="let details of details1" class="info">
    <div class="ribbon"><div class="ribbon-text"><p>{{details.sdate}} - {{details.edate}}</p></div></div>
    <pre>Name : {{details.name}}          Interest : {{details.interest}}</pre>
    <pre>Start Date : {{details.sdate}}   End Date : {{details.edate}}</pre>
    <pre>Start Time : {{details.stime}}     End Time : {{details.etime}}</pre>
    <pre>Email : {{details.email}}</pre>
    <button mat-raised-button color="primary" style="float: right;">Connect</button>

  </div>
</mat-card> 
</mat-card>
</div>



  






