<!DOCTYPE html>
<html>
        <div class="body">
            <div style = "margin-top: 0; height: 20%; align-content: center;" *ngIf="cards && cards.length==0">
                <mat-card class = "tile"  style="margin-top: 0%;">
                    <mat-card-text>
                        <p>No Users Found</p>
                    </mat-card-text>         
               </mat-card>
            </div>

           
           <div *ngIf="cards && cards.length>0">
            <div >
                <form class="stile" [formGroup]="searchForm">
                    <input type="text" placeholder="Search.." style="height: 30px; margin-right: 10px; width: 35%; opacity: 55%; border-radius: 10px;" formControlName="searchParam">
                    <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
                    <!--button mat-raised-button color="primary"style="padding-block: 2%">Search</button-->
                  </form>
            </div>

            

            <div class="tile" *ngFor="let card of cards">
                <mat-card class = "mat-card" >
                    <mat-card-title>
                      <div style="font-size: 20px;">
                        Name: {{card.name}}
                      </div>
                    </mat-card-title>

                    <mat-card-text>
                        <div style="  display: flex; justify-content: space-between; margin-right: 4%; font-size: 15px;">
                            <div style=" display: inline-flex;">
                                Contact: {{card.contact}}
                            </div>
                            <div style=" display: inline-flex;">
                                Email: {{card.email}}
                            </div>
                        </div>
                         
                    </mat-card-text>

                    <mat-card-text>
                        <mat-chip-list >
                            <div *ngFor = "let i of card.interests">
                                <mat-chip color="primary" selected style="box-shadow: 2.5px 2.5 px #b4a8a8; margin-top: 15px;">{{i}}</mat-chip>   
                             </div>
                          </mat-chip-list>
                    
                    </mat-card-text>
                    <mat-card-text>
                        <mat-chip-list >
                            <div *ngFor = "let i of card.volunteer_interests">
                                <mat-chip color="accent" selected style="box-shadow: 2.5px 2.5 px #b4a8a8; margin-top: 15px;">{{i}}</mat-chip>   
                             </div>
                          </mat-chip-list>
                    
                    </mat-card-text>

                    <button mat-raised-button color="primary"  (click)="openSnackBar('Successfully Connected with ' + card.name, 'x')" style="margin-left: 85%; margin-right: 10%; margin-top: 2%;">Connect</button>
                </mat-card>
            </div>

           </div>
           
        </div>
</html>
