<html>
    <body>
          <div class= "imgsty"><img src="../../assets/images/meetandgreetlogo.jpg"></div>
          <div class="body">

            <div id = "myTab" class="menu-bar">
              <li  routerLink="homepage">Home</li>
              <li  routerLink="authentication/announcement">Make Announcement</li>
              <li  routerLink="announcements">Timeline</li>

              <div class = "dropdown">
                <li  routerLink="announcement">Make a Match</li>
                <div class="dropdown-content">
                  <li routerLink="matchmaking/registertimeslots">Register Slot</li>
                  <li routerLink="matchmaking/viewtimeslots">View Slot</li>
                </div>
              </div>

              <li  routerLink="">Profile</li>
            </div>
          </div>

    </body>

</html>

