<h1>
  
Insert navbar here

</h1>                                                 


<style>
  body{
    background-color: coral;
  }
  h1{
    align-self: center;
    font-size: 125%;
    color: brown;
    margin-left: 500px;
  }
  mat-card-title {
    
    font-size: 200%;
  }
  mat-card-content{
    margin-left: 15px
  }
 
  </style>

<div class="main">


<div class="center">
<mat-card class="announcement-card">
    <mat-card-header>
      
      <mat-card-title>Tim</mat-card-title>
      <mat-card-subtitle>Basketball</mat-card-subtitle>
    </mat-card-header>
    <p>
    <mat-card-content>
      <p>
       There is a basket ball match organized on 31st December 8pm 2020 at POHL Recreation Center.
      </p>
    </mat-card-content>
</p>
  </mat-card>
</div>
<p>
</p>

<mat-card class="announcement-card">
    <mat-card-header>
      
      <mat-card-title>John</mat-card-title>
      <mat-card-subtitle>Artifical Intelligence</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
       There is an Artifical Intelligence Quiz Session at Library on 12 December at 4pm.
      </p>
    </mat-card-content>
    
 </mat-card>
  <p></p>

 <mat-card class="announcement-card">
  <mat-card-header>
    
    <mat-card-title>Jamees</mat-card-title>
    <mat-card-subtitle>Running</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      Hi,Anyone interested for morning runs at 6AM daily can join me at Apogee stadium.
    </p>
  </mat-card-content>
  
</mat-card>
<p> </p>

<mat-card class="announcement-card">
  <mat-card-header>
    
    <mat-card-title>Sam</mat-card-title>
    <mat-card-subtitle>Flute</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
     Need someone to teach me flute, i'll be practicing at music house everyday 6-8PM.
    </p>
  </mat-card-content>
  
</mat-card>  


</div>